<form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title >Time Taken: {{timeTaken}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Destination 1</mat-label>
            <input #destination1 type="text"
             placeholder="Pick one"
             aria-label="Destination 1"
             matInput
             [formControl]="Destination1"
            
             [matAutocomplete]="autoDestination1">
            <mat-autocomplete  #autoDestination1="matAutocomplete" >
              <mat-option (onSelectionChange)="onSelectingPlanet('dest1',planet)" *ngFor="let planet of Planets" [value]="planet.name" >
                {{planet.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col">
         <mat-form-field class="full-width">
            <mat-label>Destination 2</mat-label>
            <input #destination2 type="text"
             placeholder="Pick one"
             aria-label="Destination 2"
             matInput
             [formControl]="Destination2"
            
             [matAutocomplete]="autoDestination2">
            <mat-autocomplete  #autoDestination2="matAutocomplete">
              <mat-option *ngFor="let planet of Planets" [value]="planet.name"  (onSelectionChange)="onSelectingPlanet('dest2',planet)">
               {{planet.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

          <div class="col">
           <mat-form-field class="full-width">
            <mat-label>Destination 3</mat-label>
            <input #destination3 type="text"
             placeholder="Pick one"
             aria-label="Destination 3"
             matInput
             
             [formControl]="Destination3"
             [matAutocomplete]="autoDestination3">
            <mat-autocomplete  #autoDestination3="matAutocomplete">
              <mat-option *ngFor="let planet of Planets" [value]="planet.name" (onSelectionChange)="onSelectingPlanet('dest3',planet)">
               {{planet.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col">
         <mat-form-field class="full-width">
            <mat-label>Destination 4</mat-label>
            <input #destination4 type="text"
             placeholder="Pick one"
             aria-label="Destination 4"
             matInput
             [formControl]="Destination4"
             [matAutocomplete]="autoDestination4">
            <mat-autocomplete  #autoDestination4="matAutocomplete">
              <mat-option *ngFor="let planet of Planets" [value]="planet.name" (onSelectionChange)="onSelectingPlanet('dest4',planet)">
               {{planet.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


      </div>
     
      
      <div class="row">

        <div class="col" [hidden]="showVehicle1">
           <mat-label>Vehicle 1</mat-label>
          <mat-radio-group
           aria-labelledby="example-radio-group-label"
           class="example-radio-group"
           [(ngModel)]="vehicle1"
           [ngModelOptions]="{standalone: true}">
           <mat-radio-button class="example-radio-button" *ngFor="let vehicle of Vehicles" [value]="vehicle.name">
             {{vehicle.name}}
           </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col" [hidden]="showVehicle2">
           <mat-label>Vehicle 2</mat-label>
          <mat-radio-group
           aria-labelledby="example-radio-group-label"
           class="example-radio-group"
           [(ngModel)]="vehicle2"
           [ngModelOptions]="{standalone: true}">
           <mat-radio-button class="example-radio-button" *ngFor="let vehicle of Vehicles" [value]="vehicle.name">
             {{vehicle.name}}
           </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col" [hidden]="showVehicle3">
          <mat-label>Vehicle 3</mat-label>
          <mat-radio-group
           aria-labelledby="example-radio-group-label"
           class="example-radio-group"
           [(ngModel)]="vehicle3"
           [ngModelOptions]="{standalone: true}">
           <mat-radio-button class="example-radio-button" *ngFor="let vehicle of Vehicles" [value]="vehicle.name">
             {{vehicle.name}}
           </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col" [hidden]="showVehicle4">
          <mat-label>Vehicle 4</mat-label>
          <mat-radio-group
           aria-labelledby="example-radio-group-label"
           class="example-radio-group"
           [(ngModel)]="vehicle4"
           [ngModelOptions]="{standalone: true}">
           <mat-radio-button class="example-radio-button" *ngFor="let vehicle of Vehicles" [value]="vehicle.name">
             {{vehicle.name}}
           </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </mat-card-actions>
  </mat-card>
</form>
