

<mat-toolbar class="header">

  <div class="header__title">
   
    <h6 class="header__title-text">{{title}}</h6>
  </div>

  <div class="header-toolbar">
  <button mat-flat-button class="user-button" routerLink="/">  
  <mat-icon class="user-button__icon" >home</mat-icon>Home</button>

  <a class="user-button" mat-flat-button  href="https://www.geektrust.in/" target="_blank" >
  Geektrust Home
</a>
    
      <!--<a mat-flat-button color="primary" href="https://www.geektrust.in/" target="_blank">Geektrust Home</a>-->
  </div>

</mat-toolbar>