@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";



.visits-chart {

 
  box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
  display: absolute;
  flex-direction: column;
    @media (max-width: $small) {
    flex-wrap: wrap;
  }
   
    justify-content:space-between;

  &__header {
    align-items: center;
    color: $grey;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    font-weight: $fw-lighter;
    margin: 0;
    line-height: 40px;
  }

  &__content {
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
      @media (max-width: $small) {
    flex-wrap: wrap;
  }

    &-info {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &-title {
        margin:0;
        font-weight: $fw-lighter;
        font-size: $fs-large;
        line-height: 1.5;
        letter-spacing: 0.15px;
        color: $dark-grey;
      }

      &-chart {
        margin-left: 16px;
        @media (max-width: $small) {
   flex-wrap: wrap;
  }

      }
    }

    &-stats {
      display: flex;
      justify-content: space-between;

      &-title {
        margin:0;
        color: $grey;
        font-weight: $fw-lighter;
        font-size: $fs-small;
      }

      &-data {
        margin:0;
        line-height: 1.5;
        font-weight: $fw-lighter;
        font-size: $fs-medium;
        color: $dark-grey;
      }
    }
  }
}

.example-card {
  width:inherit;
}

.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-form{
 /* width: 100%;
    &__content {
      width:50%;
    }*/
     @media (max-width: $small) {
    flex-wrap: wrap;
   
  }
}

.row {
  display: flex;
  flex-direction: row;
    @media (max-width: $small) {
    flex-wrap: wrap;
  }
}

.col {
 // flex: 1;
   
    @media (max-width: $small) {
    flex-wrap: wrap;
  }
}

.col:last-child {
  margin-right: 0;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
    @media (max-width: $normal) {
    flex-wrap: wrap;
  }

  .example-radio-group {
  //display: flex;
  //flex-direction: column;
  margin: 15px 0;
    @media (max-width: $small) {
    flex-wrap: wrap;
  }
}

.example-radio-button {
  margin: 5px;
    @media (max-width: $small) {
    flex-wrap: wrap;
  }
}

}

